blockquote.alert > strong {
    float: right;
    margin: 0;
    vertical-align: middle;
    padding-top: 1em;
}
p>img {
    width: 96%;
    border: 1px solid #bbb;
    padding: 2%;
}

pre {
    line-height: 1.2;
}

p>strong>code {
    text-align: right;
    width: 100%;
    display: block;
}